workflows/TREINADOR_RAG.json
{
  "name": "GG.AI Labs - Treinador RAG",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 3
            }
          ]
        }
      },
      "id": "e3a4b5c6-d7e8-49f0-a1b2-c3d4e5f6g7h8",
      "name": "1. Gatilho Agendado (Diário)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        300
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "schema": "public",
        "table": "conhecimento_sophia",
        "filters": {
          "conditions": []
        }
      },
      "id": "f9a8b7c6-d5e4-43f2-a1b0-c9d8e7f6g5h4",
      "name": "2. Limpar Base de Conhecimento Antiga",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -980,
        300
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "operation": "list",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "<ID_DA_SUA_PASTA_NO_GOOGLE_DRIVE>",
            "mode": "id"
          }
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-47g8-h9i0-j1k2l3m4n5o6",
      "name": "3. Listar Arquivos no Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -760,
        300
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "b2c3d4e5-f6g7-48h9-i0j1-k2l3m4n5o6p7",
      "name": "4. Baixar Arquivo",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -540,
        300
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "c3d4e5f6-g7h8-49i0-j1k2-l3m4n5o6p7q8",
      "name": "5. Extrair Texto",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -320,
        300
      ]
    },
    {
      "parameters": {
        "chunkSize": 1000,
        "chunkOverlap": 100
      },
      "id": "d4e5f6g7-h8i9-40j1-k2l3-m4n5o6p7q8r9",
      "name": "6. Dividir Texto em Pedaços",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -100,
        300
      ]
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004",
        "options": {}
      },
      "id": "e5f6g7h8-i9j0-41k2-l3m4-n5o6p7q8r9s0",
      "name": "7. Gerar Vetores (Embeddings)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGeminiEmbeddings",
      "typeVersion": 1,
      "position": [
        120,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "conhecimento_sophia",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $json.pageContent }}",
            "metadata": "={{ {source: $('4. Baixar Arquivo').item.json.name} }}",
            "embedding": "={{ $json.embedding }}"
          }
        },
        "options": {}
      },
      "id": "f6g7h8i9-j0k1-42l3-m4n5-o6p7q8r9s0t1",
      "name": "8. Inserir no Banco de Vetores",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        340,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "1. Gatilho Agendado (Diário)": {
      "main": [
        [
          {
            "node": "2. Limpar Base de Conhecimento Antiga",
            "type": "main"
          }
        ]
      ]
    },
    "2. Limpar Base de Conhecimento Antiga": {
      "main": [
        [
          {
            "node": "3. Listar Arquivos no Google Drive",
            "type": "main"
          }
        ]
      ]
    },
    "3. Listar Arquivos no Google Drive": {
      "main": [
        [
          {
            "node": "4. Baixar Arquivo",
            "type": "main"
          }
        ]
      ]
    },
    "4. Baixar Arquivo": {
      "main": [
        [
          {
            "node": "5. Extrair Texto",
            "type": "main"
          }
        ]
      ]
    },
    "5. Extrair Texto": {
      "main": [
        [
          {
            "node": "6. Dividir Texto em Pedaços",
            "type": "main"
          }
        ]
      ]
    },
    "6. Dividir Texto em Pedaços": {
      "main": [
        [
          {
            "node": "7. Gerar Vetores (Embeddings)",
            "type": "main"
          }
        ]
      ]
    },
    "7. Gerar Vetores (Embeddings)": {
      "main": [
        [
          {
            "node": "8. Inserir no Banco de Vetores",
            "type": "main"
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "e7468266d106ccdbe9fce8b26e62c89833e7ebb9f9ae0b66d38938e32d835852"
  },
  "versionId": "GEN_VERSION_ID_RAG",
  "id": "RAG_TRAINER_WORKFLOW",
  "notes": "Este workflow alimenta a base de conhecimento (RAG) da Sophia. Ele é acionado diariamente, lê documentos de uma pasta do Google Drive, os processa e os insere no banco de dados vetorial PostgreSQL."
}
